.circle{
    display: block;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    margin-top: 0.5em;
    margin-bottom: 0px;
}
.active{
    background: radial-gradient(rgba(94, 255, 62, 0.8) 50%,   rgba(238, 238, 238, 0.8) 70%);
}
.inactive{
    background: radial-gradient(rgba(255, 143, 37, 0.8) 50%,   rgba(238, 238, 238, 0.8) 70%);
}
.failed{
    background: radial-gradient(rgba(255, 37, 55, 0.8) 50%,   rgba(238, 238, 238, 0.8) 70%);
}


.images{
    width: 100%;
    height: auto;
}

@media screen and (min-width: 1024px) {
    .cards{
        /* margin: 1rem auto; */
        /* padding-bottom: 75%; */
        max-width: 32%;
        margin: 1rem 0.5rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023.98px) {
    .cards{
        max-width: 45%;
        margin-top: 1rem;

        /* margin: 1rem auto; */
    }
    
}
@media screen and (max-width: 767.98px) {
    .cards{
        /* width: 100%; */
        margin-top: 1rem;
    }
}