.navbar{
    background-color: #181e20;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position:sticky;
}

.start{
    margin: 5px 20px;
    flex: 20%;
}

.middle{
    color:white;
    max-width: 60vw;
    width: 100%;
    overflow: hidden;
    align-items: center;
}
.middle h2{
    text-align: center;
}

.end{
    margin: 5px 20px;
    justify-content: end;
    align-items: center;
    flex: 20%;
}
.right{
    float: right;
}



.avatar-logout{
    font-size: 2rem;
    background: none;   
    fill: white;
}

.avatar-login{
    font-size: 2rem;
    background: none;
    fill: red;
}


.bars{
    font-size: 2rem;
    background: none;
}

.bars svg{
    fill:white
}

.rows{
    margin-top: 16px;
    padding: 0px !important;
    width: 90%;
}

.nav-menu{
    background-color:#181e20;
    width: 20vmin;
    min-width: 150px;
    height: 100vh;
    display: flex !important;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    
    
}

.nav-menu.active{
    display: flex !important;
    left: 0%;
    transition: 350ms;
    
}

.text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px;
    list-style: none;
    height: 60px;
}
.text a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}
.text a:hover{
    background-color: green;
    transition: 200ms;
}

span{
    margin-left: 10px;
    align-items: center;
}
.toggle{
    margin-top: 12px;
    margin-left: 12px;
    margin-bottom: 16px;
}

.toggle svg:hover{
    transform: rotate(180deg);
    transition: 500ms ease-in-out;
}